<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- navbar -->
   

        <!-- main content -->
        <h1>
            Hello <%= data.username %> fill this form to finish the register!
        </h1>

        <!-- error message -->
        <%- include('_alertIcon') %>
            <% if (error) { %>
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        <% error.split(",").forEach(e=> { %>
                            <%= e %> <br>
                                <% }) %>
                    </div>
                </div>
                <% } %>

                    <form class="w-50 p-3" method="post">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input name="name" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profile Picture</label>
                            <input name="profilePicture" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input name="phoneNumber" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">License Plate</label>
                            <input name="licensePlate" type="text" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>

                    <!-- boostrap -->
                    <%- include('_boostrap') %>

</body>

</html>