<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- navbar -->


    <!-- main content -->
    <div class="container w-50 p-3">
        <div class="row justify-content-center">
            <fieldset disabled>
                <form>
                    <label class="form-label">Price</label>
                    <div class="mb-3 d-flex justify-content-between w-100 p-3">
                        <input class="form-control" type="text">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>


    <% driver.forEach(el=> { %>
        <div class="container w-50 p-3">
            <div class="row justify-content-center">
                <div class="card w-50 p-3 " style="width: 18rem;">
                    <h4>Profile User</h4>
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= el.name %> nama driver
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">License Plate: <%= el.licensePlate %>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <button>Select Driver</button>
                    </ul>
                </div>
            </div>
        </div>
        <% }) %>

            <!-- boostrap -->
            <%- include('_boostrap') %>

</body>

</html>